@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/Optimistic.woff2');
}

* {
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: normal;
    font-family: 'SF Pro Text', sans-serif !important;
    box-sizing: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Ẩn icon tăng giảm trên Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  outline: none;
  background: #fff;
}

.input::placeholder {
  color: #9ca3af;
}

.input:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 2px rgba(24,119,242,0.15);
}
